// Test

.test-wrapper {
  display: none;
  margin-top: 200px;

  justify-content: center;
}

.counterPsyho {
  padding: 16px 20px;

  position: relative;
  z-index: 1000;

  background-color: rgba(103, 44, 191, 0.287);
  backdrop-filter: blur(10px);

  border-radius: 10px;
}

// Dialog

.dialog {
  display: block;
  padding: 20px 40px;

  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;

  background-color: rgba(20, 7, 38, 0.782);
}

.dialog-menu {
  margin: 20px 0px;

  display: flex;
  align-items: center;
  gap: 60px;

  font-size: 18px;
  font-weight: 500;
}

.dialog-name {
  font-size: 24px;
}

.dialog-content {
  max-width: 1200px;
  margin: 20px 0;

  font-size: 20px;
  font-weight: 300;
  line-height: 1.4em;
}

.button {
  display: none;
  width: 100%;
  padding: 14px 0px;

  font-size: 18px;
  font-weight: 500;
  text-align: left;

  transition: 0.2s ease;

  &:hover {
    padding: 14px 20px;

    background-color: #0000006c;
  }
}

// game-end

.wrapper {
  min-height: 80vh;

  display: flex;
  align-items: center;
  justify-content: center;

  display: none;
}

.game-end {
  max-width: 600px;
  padding: 16px;

  display: flex;
  gap: 20px;
  flex-direction: column;

  background-color: rgba(0, 0, 0, 0.506);

  & > p {
    padding: 4px 0px 4px 14px;

    transition: 0.2s ease;
  }

  & > input {
    padding: 14px 14px;

    transition: 0.2s ease;

    &:hover {
      background-color: #8661ff53;
    }
  }

  & > button {
    padding: 14px 14px;

    text-align: left;

    transition: 0.2s ease;

    &:hover {
      background-color: #8661ff53;
    }
  }
}

.next-wrap {
  position: absolute;
  inset: 0;
  height: 100vh;

  display: none;
  justify-content: center;
  align-items: center;

  background-color: #fff;
}

.next-btn {
  padding: 20px;

  color: #fff;

  background-color: #0000008c;
}
